@charset "utf-8";
/* CSS Document */

@font-face {
font-family: SHSFont; /*这里是说明调用来的字体名字*/
src: url('../fonts/SourceHanSansSC-Normal.otf'); /*这里是字体文件路径*/
}

body{
	font-family: times;
}

#learn a{
	color:aliceblue;
}